.card-title{
    color: #3d5170!important;
}
.updateprofileform{
    background-color: white;
    border-style: solid;
    border-color: #e3ebf6;
    border-width: 1px;
}
.formheading{
    border-bottom: solid;
    border-color: #e3ebf6;
    border-width: 1px;
  }